ErrorDocument 404 /accesGb/erreur404.html

RewriteEngine on

RewriteRule ^accueil$ index.php [L]
RewriteRule ^presentation$ index.php?page=presentation [L]
RewriteRule ^enregistrement$ index.php?page=enregistrement [L]
RewriteRule ^authentification$ Pages/formulaireIdentif.php [L]
RewriteRule ^aide$ Pages/aide.php [L]
RewriteRule ^mpo$ Pages/MotPassOublie.php [L]
RewriteRule ^chmp$ Pages/changerMotPasse.php [L]
RewriteRule ^enregistrement/(.*)$ index.php?page=enregistrement&valeur=$1 [L]





 